* text=auto eol=lf

src/*.json linguist-generated
src/parser.c linguist-generated
src/tree_sitter/* linguist-generated
bindings/node/* linguist-generated
binding.gyp linguist-generated
package-lock.json linguist-generated
